.list {
  width: 70%;
}

.product-failure-heading-text {
  font-weight: bold;
  /* background-color: transparent; */
  color: white;
}
.products-error-view-container {
  background-color: black;
}

.products-failure-description {
  color: white;
  font-size: 14px;
}
.retry-button {
  background-color: #4f46e5;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  padding: 12px;
}

.background {
  background-color: #000000;
}

.white {
  color: white;
}
.dashboard {
  width: 20vw;
  padding: 10px;
}
