.bg-home {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  color: white;
  background-repeat: no-repeat;
  height: 90vh;
  width: 100vw;
}

.btn {
  color: white;
  font-weight: bold;
  background-color: #4f46e5;
  padding: 5px;
  border-radius: 4px;
}
.title {
  width: 50vw;
}
