.backgroundImg {
  background-color: #000;
  height: 100vh;
}

.form-container {
  background-color: #202020;
  padding: 30px;
  align-self: center;
}

.login-button {
  background-color: #4f46e5;
}

.text-color {
  color: #ffffff;
}
